pytorch
pytorch-lightning
awkwardautopep8
boost_histogram
docopt
hydra-core
jupyter
jupyter-book
matplotlib
mplhep
notebook
numpy
papermill
pre-commit
scikit-learn
scikit-optimize
scipy
seaborn
setGPU
tensorboard
tqdm
uproot
vector
zenodo_get